@import url('https://cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'GmarketSansMedium';
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    font-size: 14px;
  }
  
  body {
    margin: 0;
    min-width: 992px;
    font-family: "Helvetica";
  }

  .navbar{
    margin-top: 10px;
    height: 60px;
    padding-left: 30px;
  }
  
  .logo{
    line-height: 60px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-left: 12%;
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .navbar2 ul{
    float: right;
  }
  
  .navbar li{
    list-style-type: none;
    float: left;
    margin-right: 30px;
  }
  
  .navbar a{
    text-decoration: none;
    color: black;
    font-style: bold;
    font-size: 13px;
  }

  .menu {
    width: 167%;
    overflow: hidden;
    margin-top: 150px;
    margin-bottom: 70px;
  }

  .menu li {
    width: 20%;
    float: left;
    text-align: center;
    line-height: 40px;
    background-color: #ff52a3;
  }

  .menu a {
    color: #ffffff;
    text-decoration: none;
  }

  .submenu > li {
    line-height: 50px;
    background-color: #ff8cc2;
    width: 100%;
    align-items: center;
    justify-content: center;
    float: none;
    display: flex;
  }

  .submenu {
    max-height: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .menu > li:hover {
    background-color: #ff8cc2;
    transition-duration: 1s;
  }
  
  .menu > li:hover .submenu {
    max-height: 500px;
    transition-duration: 1s;
  }

  .submenu > li:hover {
    background-color: #ff52a3;
    transition-duration: 0.5s;
  }
  
  body h1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 24px;
    font-style: bold;
    color: #ff8cc2;
  }